
.Solutions-cont{
    display: flex;
    flex-direction: column;
    background-color: #FFFAEE;
    padding-top: 5vw;

    align-items: center;
   


}

.Solutions-title{
    text-align: center;
    font-family: Inter;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px; 
    letter-spacing: -2px;
    background: linear-gradient(107deg, #6020BD 38.13%, #A465FF 80.61%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 50px;

}

.Solutions-desc{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; 
    letter-spacing: -0.6px;
    width: 984px;
    flex-shrink: 0;
    margin-top: 0px;
    margin-bottom: 60px;
 
}

.Solutions-card-holder{

    width: 1470px;
    height: 1100px;



}

.Solutions-cont-mob{
    display: none;

}

@media screen and (max-width : 1470px){
   
    .Solutions-cont{
        padding-top: 10vw;
        padding-bottom: 10vw; 
    
    }

        .Solutions-title{
        font-size: 12vw;
        margin-bottom: 5vw;
    }
    .Solutions-desc-div{
        width : 10vw;
    }
    
.Solutions-desc{
    font-size: 5vw;
    line-height: 100%; 
    width: 80vw;
    margin-bottom: 5vw;

}
.Solutions-card-holder{

        display: none;


}
.Solutions-cont-mob{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    display: flex;
    flex-direction: column;
    background-color: #FFFAEE;

    padding-top: 10VW;

}




}

 .Solutions-content-creation{
    position: relative;
    bottom : 500px;
    left: 860px;
} 

.social-media-card{
    position: relative;
    top : 60px;
}
 
.email-marketing{
    position: relative;
   left: 250px;
} 

.gmlogo{

    width: 240px;
    position: relative;
    left: 600px;
    bottom: 435px;

}

.Solutions-seo{
    position: relative;
    bottom : 600px;
    left: 900px;
}

.Solution-pay{
    position: relative;
    bottom : 630px;
    left: 310px;
}