.card-container{
    background-color: black;
    width: 190px;
    height: 190px;
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap:  6px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FFF;
    transition: all 0.5s;
    box-shadow: 0px 12px 56px 0px rgba(6, 28, 61, 0.12);
}

.card-container:hover{
    
    box-shadow: 0px 0px 30px 1px rgba(135, 56, 174, 0.3);
    transition: all 0.5s;


}

.card-container:active{
    background-color:#eceef1 ;
    transition: all 0.1s;


}


.card-image{
    width: 150px;
    
    

}

.card-desc{
    color:#061C3D;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    
 
}

@media screen and (max-width : 1050px) {
    *{
        padding:0;
        margin : 0;
    }
    .card-container{
        width: 25vw ;
        height: 25vw ;
        
    }
    .card-image{
        width: 18vw;
        height: 18vw;
        
    
    
    }
    .card-desc{

        font-size: 12px;
        font-weight: 400;

    }

}