.div1 {
    background-color: #F6F1FF;
    height: 100%;
    width: 100%;
    font-family: "Inter-Medium", Helvetica;
    padding-bottom: 5%;
}

.div2 {
    display: flex;
}

.div3 {
    margin-top: 5%;
    margin-left: 10%;
    width: 40%;
    color: #263238;
}
.div4 p{
    color: #FFF;

font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 10px;
}

.div4 {
    background-color: #222938;
    margin-top: 10%;
    width: 40%;
    height: 650px;
    border-radius: 20px;
    color: #FFF;


}
    
.div4 h3{
    text-align: center;
font-family: Inter;
font-size: 37.895px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.image {
    width: 70px;
    
    margin-left: 5%;
    border-radius: 50%;
}

#image1st {
    margin-left: 0%;
}

.div8 {
    display: flex;
    width: 150%;
    height: 10%;
    
}

.div9 {
    display: flex;
    width: 100%;
}

.imgtxt {
    margin-left: 8%;
    margin-top: 2%;
  
    color: #263238;

    font-family: Inter;
    font-size: 18.671px;
    font-style: normal;
    font-weight: 500;
    line-height: 31.119px;
}

#text1st {
    margin-left: 0%;
}

form {
    color: #FFF;

}

form h3 {
    margin-top: 10%;
    font-size: 26px;
}

form p {
    margin-top: 10%;
    margin-left: 15%;
}

form input {
    margin-left: 15%;
    width: 70%;
    height: 4vh;
    border-radius: 10px;
    padding-left: 5px;
}

.message {
    height: 6vh;
    border: none;
}

.msg {
    margin-top: 5%;
}

.submit {
    border: none;
    margin-top: 10%;
    width: 70%;
    height: 5vh;
    margin-left: 15%;
    color: white;
    color: #FFF;

font-family: Inter;
font-size: 16.597px;
font-style: normal;
font-weight: 400;
line-height: normal;
    border-radius: 10.373px;
    background: #6020BD;
    margin-bottom: 15%;
}

.div3 p {
    width: 75%;
    font-size: 18px;
}

.div3 .text1 {
    margin-top: 10%;
    color: #263238;
font-family: Inter;
font-size: 18.671px;
font-style: normal;
font-weight: 500;
line-height: 31.119px;
margin-bottom: 10%;
}

.label {
    color: #6020BD;
    font-family: Inter;
    font-size: 50.527px;
    font-style: normal;
    font-weight: 700;
    line-height: 63.159px; /* 125% */
    letter-spacing: -1.011px;
}

.div5 {
    margin-top: 5%;
    display: flex;
}

.div6 {
    margin-left: 10%;
    width: 40%;
}

.div6 h1 {
    background: linear-gradient(90deg, #6020BD 15.44%, #9D59FF 63.68%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    font-size: 40px;
    font-family: Inter;
font-size: 50.527px;
font-style: normal;
font-weight: 700;
line-height: 63.159px; /* 125% */
letter-spacing: -1.011px;
margin-bottom : 30px
}

.text2 {
    color: #263238;
   
color: #263238;

font-family: Inter;
font-size: 18.671px;
font-style: normal;
font-weight: 500;
line-height: 31.119px;
margin-bottom: 30px; 
}

.mail {
    border-radius: 30px;
    height: 6vh;
    width: 70%;
    padding-left: 10px;
    background-color: transparent;
    position: relative;
}

.div7 {
    width: 40%;
    color: #263238;
}

.div7 p{

    color: #263238;
    padding: 10px;
    font-family: Inter;
    font-size: 18.671px;
    font-style: normal;
    font-weight: 500;
    line-height: 31.119px;
}
.cr {
    margin-top: 5%;
    color: #6020bd;
    line-height: 150%;
    color: #6020BD;

font-family: Inter;
font-size: 18.671px;
font-style: normal;
font-weight: 500;
line-height: 31.119px;
margin-top: 80px;
margin-bottom: 80px
}

a {
    text-decoration: none;
    color: #263238;
}

.div7 p {
    line-height: 5vh;
}

.sub1 {
    background-color: transparent;
    padding: 0%;
    border-radius: 50%;
    width: 5vb;
    height: 5vb;
    border: none;
    position: relative;
    top: 2vh;
    left: -6vb;
    background-color: #6020BD;
    
}

.arrow {
    width: 5vb;
    border-radius: 50%;
}

.smicon {
    margin: 3%;
}



@media(max-width:1050px) {
    .div1 {
        padding-top: 10%;
    }

    .div2,
    .div5 {
        display: block;
        align-content: center;

    }

    .div3,
    .div4,
    .div6,
    .div7 {
        width: 80%;
        margin: 0 10%;
    }

    form {
        padding-top: 0.5%;
    }

    .label {
        margin-top: 0;
    }

    .div8 {
        width: 100%;
    }
    .div4 {
       
        height: 60vh;
        margin-top:12vw;
        
    
    
    }
    .sub1 {
        position: relative;
        left: -6vb;
        top: 2vh;
    }

    .imgtxt {
        margin: 2%;
        
color: #263238;
font-family: Inter;
font-size: 18.671px;
font-style: normal;
font-weight: 500;
line-height: 31.119px;
    }
    .div4 h3{
        text-align: center;
    font-family: Inter;
    font-size: 6VW;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
}