.team-div{
  background-color: #6020BD;
  font-family: Nunito, sans-serif;
  box-sizing: border-box;
  height: 1200px;
}
.team-res-cell-block {
  min-height: 75px;
    
}

.team-head {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
  color: #FFFFFF;
}
.team-head {
 font-family: 'Poppins', sans-serif;
}


.team-mainblock {
  height: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: space-evenly;
}
.team-mainblock-ww{
  
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: space-evenly;
}
.team-head-text {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  font-family: 'Inter','Inika';
}

.team-head-text {
  line-height: 50px;
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}
.team-sub-head {
  max-width: 700px;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  font-weight: 700;
  color:#FFFFFF;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 100px;
  margin-left: 0px;
  margin: 0 0 70px 0;
  font-family: 'Roboto', sans-serif;

}

.team-con {
  
  max-width: 1380px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  padding-top: 80px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 30px;
 
}

.mainblock {
  text-align: center;
  border: 2px solid #DCDCDC;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;
  background-color: #FFFFFF;
  height: 320px;
}

.team-mainblock-con {
  
  width: 280px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 25px;
  margin-left: 10px;
}
.team-head-names{
margin:5px;
color: #6020BD;
font-family: 'Poppins', sans-serif;
font-size: 20px;
}  
.team-head-domains{
margin-top: 5px;
margin-bottom: 10px;
color: #3E3E59;
font-family: 'Roboto', sans-serif; 
font-size: 16px;
}
.feature-text {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  color: rgb(122, 122, 122);
  line-height: 30px;
}

.social-icons {
  width: 150px;
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.team-wrapper {
  
  width: 220px;
  height: 180px;
}

.team-image {
  max-width: 100%;
}

.Load{
  cursor:pointer;
}
.Load a{
text-decoration: none;
color: #FFFFFF;
}

.Load:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: relative;
  background: #FFFFFF;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  
}
.Load:hover{
  font-weight : 600;
}

.Load:hover:after { 
  width: 100%; 
  left: 0; 
}

.team-div-mob{
  display: none;
}

@media screen and (max-width : 1050px){
  .team-div{
   display: none;
    
  }
  .team-div-mob{
    display: block;
    background-color: #6020BD;
  font-family: Nunito, sans-serif;
  box-sizing: border-box;
  min-height: 1200px;
  }
  
  .team-cont-mob{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 90px;
  }
}


@media (max-width: 500px) {
  .team-head-text {
    font-size: 24px;
    line-height: 30px;
  }
  
  .github-icon{
    width: 30px;
  }
  .linkedin-icon{
    width: 30px;
  }
  .gmail-icon{
    width: 30px;
  }
  .team-sub-head {
    font-size: 14px;
    line-height: 20px;
  }

  .team-mainblock-con {
    width: 100%;
  }

  .name {
    font-size: 14px;
  }

  .feature-text {
    line-height: 16px;
  }

  .social-icons {
    width: 100%;
    gap: 5px;
  }

  .team-wrapper {
    width: 100px;
    height: 90px;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');


.wk-desk-3 {
width: 20%;
}


@media (max-width: 1024px) {

.wk-ipadp-3 {
  width: 25%;
}

}

@media (max-width: 768px) {


.wk-tab-6{
  width: 200px;
  .mainblock{
    height: 280px;
  }
  .social-icons {
    width: 100%;
    gap: 5px;
  }
  .github-icon{
    width: 35px;
  }
  .linkedin-icon{
    width: 35px;
  }
  .gmail-icon{
    width: 35px;
  }
  .team-head-names{
    font-size: 15px;
    margin: 2px;
  }
  .team-head-domains{
    font-size: 13px;
  }
}

}
@media (max-width: 500px) {
.team-con{
  margin-top:500%;
}
.wk-mobile-12 {
  width: 120px;
  .mainblock{
    height: 160px;
  }
  .social-icons {
    max-width: 100%;
    gap: 5px;
  }
  .github-icon{
    width: 30px;
  }
  .linkedin-icon{
    width: 30px;
  }
  .gmail-icon{
    width: 30px;
  }
  .team-head-names{
    font-size: 10px;
    line-height: 13px;
  }
  .team-head-domains{
    font-size: 8px;
  }}}