.compare-box{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem;
}
/* .compareBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 15rem 2rem 15rem;
    padding: 2rem 18em 2rem 9rem;
} */
.container-card{
    padding: 2.5rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    width: 10rem;
    height: 20rem;
}
.sect-first{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.heading-first{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    padding: 1rem 0rem 1rem 0rem;
}
.imaGesize{
     width: 1.25rem;
     height: 1.25rem;
}
.heading-description{
    font-size: 1rem;
    font-weight: light;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 3rem;
    text-align: center;
    
}