.compare-box{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin:0rem 3rem 8rem 3rem;
}
/* .compareBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 15rem 2rem 15rem
    padding: 2rem 18em 2rem 9rem;
} */
.container-card{
    padding: 3.5rem;
    box-shadow: 0px -5px 20px rgba(223, 214, 214, 0.2), 0px 5px 20px rgba(223, 214, 214, 0.2);
    border-radius: 10px;
    width: 10rem;
    height: 20rem;
    border-bottom: 5px solid rgb(96, 32, 189);
    border-radius: 0;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.container-card:hover {
    background-color: rgb(246, 241, 255);
    transform: scale(1.1);
  }
  
  .container-card:hover .heading-first {
    color: rgb(96, 32, 189);
  }

  
.sect-first{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#head-align{
    margin-bottom: -0.5rem;
    margin-top: -1rem;
    font-size: 1.3rem;
}
.heading-first{
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    padding: 1rem 0rem 1rem 0rem;
}
.imaGesize{
     width: 1.25rem;
     height: 1.25rem;
}
.heading-description{
    font-size: 1rem;
    font-weight: light;
    font-family: 'Inter', sans-serif;
    line-height: 3rem;
    text-align: center;
    

}
@media only screen and (max-width: 768px) {
    .compare-box {
      flex-direction: column;
      align-items: center;
    }
  
    .container-card {
      width: 100%;
      padding: 5.5rem;
      margin: 0;
      height: auto;
    }
  }
  @media only screen and (max-width: 1200px) {
    .compare-box {
      flex-wrap: wrap;
    }
  
    .container-card {
      width: calc(33.33% - 2rem); /* Adjust as needed */
      margin: 1rem;
    }
  }