@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
.about-us{
    height: 100vh;
}

.page{
    width: 100vw;
    height: 100vh;
    background: #F6F1FF;
    position: absolute;
    display: grid;   
    grid-template-columns: repeat(2,1fr);
    
}


.container{
    width: 380px;
    height: 340px;
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 12px 56.7px rgba(6, 28, 61, 0.07);
    position:absolute;
    padding: 24px;
    left: 10.69%;
    top: 37.55%;
    
}
.pic{
    position: absolute;
    width: 80%;
    bottom: 75%; 
    right:10%;
}
.container p{
    color: #42526B;
    font-family: 'Inter', sans-serif;
    bottom: 80%;
    font-size:22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 50px;
    text-align: left;
    transition:0.3s;

}
.right{
    font-family: 'Inter', sans-serif;
    margin-left: 120px;
}
.about-text{
    position: absolute;
    width: 424px;
    height: 80px;
    left: 950px;
    bottom: 538px;
    font-style: normal;
    font-weight:bold;
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    line-height: 80px;
    letter-spacing: -0.02em;
    background: linear-gradient(107deg, #6020BD 38.13%, #A465FF 80.61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.right p{
    display: flex;
    width: 396px;
    height: 59px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.22px;
    padding-left: 200px;
}
.box{
    top: 270px;
}
    

.img{
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    transition:0.2s;
}
.box{
    font-family: 'Inter', sans-serif;
    padding-top: 5rem;
    position: relative;

}
.text-wrapper{
    display: inline-block;
    padding-left: 5rem;
    font-size: 22px;
    letter-spacing: 0.22px;
    word-wrap: break-word;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Inter', sans-serif;

}
.media{
    display: none;
}
.media-heading{
    display: none;
}

.container-mob{
    display: none;
}
@media screen and (max-width:1040px) {
    .page{
        width: 100%;
        background: #F6F1FF;
        position:absolute;  
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .right{
        display: none;
    }
    h1{
        display: none;
    }
    .left{
        display: none;
    }
    .container{
        width: 70%;
        height: 50%;
    }
    .media{
        display:grid;
    }
    .container p{
        font-size:70%;
        margin: 10px;
    }
    .media-heading{
        display: grid;
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-size: medium;
        position: relative;
        margin-top: 10px;
        
    }
    .pic{
        position:absolute;
    }
    .pic-mob{
        width: 270px;
        height: 270px;
        margin-bottom : auto;
        padding-left: 6vw;


    }

    .container-mob{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 79vw;
        height: 80vh;
        margin-top: 20vw;
        background: #FFFFFF;
        border-radius: 16px;
        box-shadow: 0px 12px 56.7px rgba(6, 28, 61, 0.07);


    }
    .container-mob p{
        color: #42526B;
        text-align: center;
        padding-bottom: 30vw;
        padding-left: 5vw;
        padding-right: 5vw;
        font-size: 5vw;
    }
    
}
